:host {
    position: relative;
    display: block;
    overflow: hidden scroll;
    scroll-snap-type: y mandatory;

    &._initialized {
        scroll-snap-type: none;
    }
}

.t-buffer {
    display: block;
    block-size: 10000rem;
}

.t-wrapper {
    display: block;

    &_current {
        scroll-snap-align: start;
    }
}
